/* media queries */

@media all and (min-width:552px) {

  #content,
  .cta {
    width: calc(100vw - var(--side-w));
  }

  #sidebar {
    width: var(--side-w);
  }

  .logo-lg,
  .side-menu ul li a span {
    display: inline;
  }

  .playlist {
    display: block;
  }

  .logo-sm {
    display: none;
  }

  .bottom-bar a span {
    display: block;
  }

  .track-info {
    width: 100%;

  }
}

@media all and (min-width:768px) {
  .col {
    width: var(--col-25);
  }

  .icons {
    display: flex;
  }

  .icons i {
    margin: 5px;
  }

}

@media all and (min-width:1180px) {
  .col {
    width: var(--col-16);
  }
}