/* media queries */



@media all and (min-width:576px) {

  #content,
  .cta {
    width: calc(100vw - var(--side-w));
  }

  #sidebar {
    width: var(--side-w);
  }

  .logo-lg,
  .side-menu ul li a span {
    display: inline;
  }

  .playlist {
    display: block;
  }

  .logo-sm {
    display: none;
  }

  .bottom-bar a span {
    display: block;
  }

  .track-info {
    width: 100%
  }

  .playing,
  .player {
    width: 20%;
  }

  .media-controls {
    width: 60%
  }
}

@media all and (min-width:768px) {
  .col {
    width: calc(25% - var(--gap));
  }

  .icons {
    display: flex;
  }


}

@media all and (min-width:992px) {
  .col {
    width: calc(var(--col-16) - var(--gap));
  }
}