:root {
  --foot-h: 80px;
  --mob-side-w: 60px;
  --side-w: 200px;
  --cta-h: 60px;
  --gap: 10px;
  --col-16: calc(100% / 6 - var(--gap));
  --col-20: calc(20% - var(--gap));
  --col-25: calc(25% - var(--gap));
  --col-30: calc(30% - var(--gap));
  --col-40: calc(40% - var(--gap));
  --col-50: calc(50% - var(--gap));
  --col-60: calc(60% - var(--gap));
  --foot-color: #595050;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*layout mobile first */


footer {
  height: var(--foot-h);
  background-color: var(--foot-color);
  color: white;
}

footer .row {
  height: 100%;
  width: 100%;
  gap: 0;
  justify-content: space-between;
}


footer.row {
  justify-content: space-between;
}

main {
  height: calc(100vh - var(--foot-h));
  display: flex;
}

#sidebar {
  width: var(--mob-side-w);
  height: 100%;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  font-size: 0.8rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#content {
  width: calc(100vw - var(--mob-side-w));
  height: 100%;
  overflow-y: auto;
  background-color: #262f40;
  color: white;

}

.cta {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - var(--mob-side-w));
  height: var(--cta-h);
  align-items: center;
  z-index: 3;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.categories {
  justify-content: center;
  margin-top: var(--cta-h);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.card .album {
  width: 100%;
}

/* debug only 
.col:nth-child(odd) {
  background-color: beige;
}

.col:nth-child(even) {
  background-color: rgb(239, 239, 19);
}


.col {
  height: 250px;
}

/debug only */

.col {
  width: var(--col-50);
}

.col-100 {
  width: 100%;
}

.col-f.preview {
  max-width: 235px;
}

.col-f.lvl-bar {
  max-width: 180px;
}

/* styling */
.logo {
  height: 50px;
}

.logo-lg,
.side-menu ul li a span {
  display: none;
}

.logo img {
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
}

.side-menu {
  position: relative;
}

.side-menu ul {
  list-style: none;
}

/* all links with no decoration and white text */
.cta .btn,
.add-playlist a,
.side-menu ul li a,
.playlist ul li a,
.download a,
.profile a {
  text-decoration: none;
  color: white;
}

.side-menu ul li a {
  height: 20px;
  display: flex;
  align-items: center;
  border-left: 3px solid;
  border-left-color: rgb(0, 0, 0);
  margin-left: 7px;
  margin-bottom: 10px;
  padding: 3px;
}

.side-menu ul li a,
.playlist .add-playlist,
.playlist ul li,
.download a,
.album {
  position: relative;
}


.side-menu ul li a.selected {
  border-left-color: rgb(102, 255, 0);

}

.side-menu ul li a:focus .overlay {
  display: none;
}


.side-menu ul li a img {
  height: 35px;
  padding: 6px;
}


.add-playlist a:focus .overlay {
  display: none;
}

.plus {
  padding: 0 10px;
  background-color: grey;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  margin: 10px 0;
}

.playlist {
  margin-top: 20px;
  margin-left: 10px;
  display: none;
}

.playlist ul li {
  margin-bottom: 5px;
  list-style: none;
}

.playlist a:focus .overlay {
  display: none;
}

.profile a,
.download a,
.preview,
.player {
  display: flex;
  align-items: center;
}

.profile {
  border-top: 2px grey solid;
}

.download img,
.profile img {
  height: 30px;
  margin: 15px;
}

.profile img {
  background-color: grey;
  border-radius: 50%;
}

.profile span {
  font-weight: bold;
}

.bottom-bar a span {
  display: none;
}

/* /sidebar */
/* cta*/
.cta .btn {
  border: white solid 1px;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px;
}

/*find out */

.section-title span {
  font-size: 0.8rem;
  color: grey;
}

.card h4 {
  margin: 10px 0;
}

.card h6 {
  color: grey;
}


.card .album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  font-size: 3rem;
}

.album:hover .overlay {
  opacity: 1;
}

.album.rounded img,
.album.rounded .overlay {
  border-radius: 50%;
}


/* footer*/
/*col preview */


.preview img {
  margin: 10px;
  height: 40px;
}

.track-info {
  width: 55px;
}

.title span {
  font-weight: bold;
  font-size: 0.6rem;
}

.track-info span:last-child {
  font-size: 0.8rem;
}

.icons {
  display: block;
}

.icons i,
.track-info span {
  display: block;
  margin: 3px;
}

/*col-f controls*/
.controls {
  display: flex;
  align-items: center;
}

.lvl-bar {
  display: flex;
  height: 5px;
  min-width: 50px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(247, 245, 245) inset;
}

.lvl-sel {
  height: 3px;
  width: 20%;
  background-color: rgb(203, 204, 204);
  box-shadow: 2px 2px 6px rgb(57, 57, 57) inset;
}

.lvl {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transform: translate(-25%, -25%);
  background-color: rgb(203, 204, 204);
  box-shadow: 2px 2px 6px rgb(57, 57, 57) inset;
  display: none;
}

.buttons i {
  margin-right: 3px;
  font-size: 0.7rem;
  ;
}

/* /footer*/


/*utility*/
.flex {
  display: flex;
}

.j-c-center {
  justify-content: center;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}

.bg-silver {
  background-color: silver;
}

.bg-black {
  background-color: black;
}

.bg-trans-black {

  background-color: rgba(0, 0, 0, 0.5);
}

.text-grey {
  color: grey;
}

.text-center {
  text-align: center;
}

/* paddings */
.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.py-5 {
  padding: 5px 0;
}

.py-10 {
  padding: 10px 0;
}

.py-15 {
  padding: 15px 0;
}

.py-20 {
  padding: 20px 0;
}

.px-10 {
  padding: 0 10px;
}

.px-15 {
  padding: 0 15px;
}

.px-20 {
  padding: 0 20px;
}

/* margins */


.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.my-5 {
  margin: 5px 0;
}

.my-10 {
  margin: 10px 0;
}

.my-15 {
  margin: 15px 0;
}

.my-20 {
  margin: 20px 0;
}

.mx-10 {
  margin: 0 10px;
}

.mx-15 {
  margin: 0 15px;
}

.mx-20 {
  margin: 0 20px;
}