* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/*layout mobile first screen xs */
footer {
  height: 100px;
  background-color: #282828;
}

main {
  height: calc(100vh - 100px);
  background-color: #374257;
  display: flex;
}

.container {
  margin: 0 auto;
  width: 95%;
}

h2 {

  margin: 5px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  height: 100%;
  background-color: #000000;
  padding: 10px;
  text-align: center;
}

#content {
  width: calc(100vw - 60px);
  height: 100%;
  overflow-y: auto;

}

.cta {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - 60px);
  background-color: rgba(0, 0, 0, 0.5);
  height: 60px;
  padding-right: 30px;
  align-items: center;
}

.menu {

  height: 60px;
  margin: 60px 0;
  padding: 10px;

}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}


.col {
  width: calc(100% / 2 - 10px);

}

/* debug only */
.col:nth-child(odd) {
  background-color: beige;
}

.col:nth-child(even) {
  background-color: rgb(239, 239, 19);
}

.col {
  height: 250px;
}

/* /debug only */

/* sidebar content */
#sidebar img {
  height: 30px;
  margin: 10px 0;
  vertical-align: middle;
}

.logo-lg,
.menu-txt {
  display: none;
}

#sidebar a {
  text-decoration: none;
  color: white;
}

.user img {
  background-color: grey;
  border-radius: 50%;
  padding: 5px;
}

.playlist {
  margin: 10px 0;
}

/* /sidebar content */
/* screen s */

@media all and (min-width: 552px) {

  #sidebar {
    width: 200px;
    text-align: left;
  }

  .logo-lg {
    display: block;
  }

  .logo-sm {
    display: none;
  }

  .menu-txt {
    display: inline;
  }

  .cta,
  #content {
    width: calc(100vw - 200px);
  }
}

/* screen md */

@media all and (min-width: 639px) {

  .col {
    width: calc(100% / 4 - 10px)
  }
}

/* screen lg */

@media all and (min-width: 878px) {
  .col {
    width: calc(100% / 6 - 10px)
  }
}